#top {
    display: inline;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
header > nav {
    margin-right: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    height: auto;
    background-color: black;
    background-image: url("https://media.istockphoto.com/videos/light-grey-white-looped-gradient-abstract-background-video-id1224826528?b=1&k=20&m=1224826528&s=640x640&h=Mtnb93u3qiqV-jDN1voZOqwIEtUPFqQ_NnIHe8IXWso=");
}

.titre {
    margin: auto;
    text-align: center;
}

.liens {
    text-align: right;
    margin-left: 30px;
}

h1 {
    font-family : 'Satisfy', cursif ;
    font-style: italic;
    text-align: center;
    padding: 20px;
}

.mois {
    font-size: 52px;
}

.semaine {
    font-size: 15px;
}

#conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.colonne1 {
    width: 20%;
    border: 2px solid grey;
    border-radius: 20px;
    box-sizing: border-box;
    height: 50%;
    background-color: white;
}

.colonne2 {
    width: 80%;
}

#tableau {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    table-layout: fixed;
}

#tableau td {
    border: 1px solid;
}

#tableau th {
    border: 2px solid;
    font-style: italic;
}

th {
    height: 50px;
}

td {
    width: 100px;
}

.dodo1 {
    text-align: center;
    font-size: 52px;
    color: white;
}

.dodo2 {
    text-align: center;
    font-size: 52px;
    color: white;
}

.trajet {
    text-align: center;
}

.wake {
    text-align: center;
}

.coding1 {
    text-align: center;
    text-decoration: black;
}

.coding2 {
    text-align: center;
}

.coding3 {
    text-align: center;
}

.coding4 {
    text-align: center;
}

.coding5 {
    text-align: center;
}

.coding6 {
    text-align: center;
}

.coding7 {
    text-align: center;
}

.coding8 {
    text-align: center;
}

.coding9 {
    text-align: center;
}

.coding10 {
    text-align: center;
}

.coding11 {
    text-align: center;
}

.coding12 {
    text-align: center;
}

.repas {
    text-align: center;
}

.workshop1 {
    text-align: center;
}

.rdv {
    text-align: center;
}

.rdv2 {
    text-align: center;
}

.rdv3 {
    text-align: center; 
    font-size: 22px; 
}

.heure1 {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

.rdv4 {
    text-align: center;
    font-size: 22px; 
}

.heure2 {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

.rdv5 {
    text-align: center; 
    font-size: 22px;  
}

.heure3 {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

.rdv6 {
    text-align: center;
    font-size: 22px;  
}

.heure4 {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

.rdv7 {
    text-align: center; 
    font-size: 22px;  
}

.heure5 {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

.rdv8 {
    text-align: center; 
    font-size: 22px;  
}

.heure6 {
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

.concert {
    text-align: center;
}

.workshop2 {
    text-align: center;
}

.workshop3 {
    text-align: center;
}

.BB1 {
    text-align: center;
    font-size: 12px;
}

.BB2 {
    text-align: center;
    font-size: 12px;
}

.BB3 {
    text-align: center;
    font-size: 12px;
}

.BB4 {
    text-align: center;
    font-size: 12px;
}

.BB5 {
    text-align: center;
    font-size: 12px;
}

.BB6 {
    text-align: center;
    font-size: 12px;
}

.BB7 {
    text-align: center;
    font-size: 12px;
}

.BB8 {
    text-align: center;
    font-size: 12px;
}

.BB9 {
    text-align: center;
    font-size: 12px;
}

.BB10 {
    text-align: center;
    font-size: 12px;
}

.BB11 {
    text-align: center;
    font-size: 12px;
}

.dayoff {
text-align: center;
}

.moveon {
text-align: center;
}

.double {
    text-align: center;
    font-size: 12px;
}

.double2 {
    text-align: center;
    font-size: 12px;
}

.broadcast {
    text-align: center;
    font-size: 12px;
}

.julien {
    text-align: center;
    font-size: 12px;
}

a {
    text-decoration: none;
}

body {
    background-color: #EAF5F4;
}



#container {
    margin: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

form h1 {
    font-size: 40px;
    color: black;
}

form .ligne {
    width: 100%;
    height: 1px;
    background-color: #050505;
}

form .corps {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps .abc {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps .gauche .abc input {
margin-top: 10px;
padding: 10px 5px 10px 30px;
border: 1px solid grey;
border-radius: 15px;
outline-color: grey;
}

form .corps .gauche .abc i {
position: absolute;
left: 0;
top: 31px;
padding: 9px 8px;
color: grey;
} 

form .corps .droite {
    margin-left: 40px;
}

form .corps .droite .abc {
    height: 100%;
}

form .corps .droite .abc textarea {
    margin-top: 5px;
    border-radius: 15px;
    padding: 10px;
    background-color: #E1DCDC;
    outline: none;
    resize: none;
    height: 75%;
}

form .pied button {
margin-top: 10px;
background-color: #F7FC63;
color: black;
font-size: 15px;
border: none;
border-radius: 15px;
padding: 10px 20px;
outline: none;
cursor: pointer;
transition: transform 0.5s;
}

form .pied button:hover {
 transform: scale(1.05);
}

button {
    margin-top: 10px;
    background-color: #F2F4F4;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;  
}